
  @keyframes marqueeLine {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }


     @keyframes marqueeLineTwo {
       from {
         transform: translateX(0);
       }
  
       to {
         transform: translateX(100%);
       }
     }

  /* ====FIRST-TICKER==== */

  .marque-inner {
    overflow-x: hidden;
    display: flex;
    background-color: var(--orange);
    transform: rotate(3deg)
  }

  .marque-line-first {
    flex-shrink: 0;
    margin: 0;
    padding: 12px 10px;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.48x;
    color: #F9F7F4;
  }

  .fourty-per{
    font-style: italic;
    font-weight: 400;
  }


/* ====SECOND-TICKER==== */


  .marque-inner-second {
    overflow-x: hidden;
    display: flex;
    transform: rotate(-3deg);
    background-color: var(--green);
  }

  .marque-line-second {
    flex-shrink: 0;
    margin: 0;
    padding: 12px 10px;
    white-space: nowrap;
    animation-name: marqueeLineTwo;
    animation-duration: 5000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.48x;
    color: #F9F7F4;
  }

  .the-vitamins{
    font-style: italic;
    font-weight: 400;
  }