.delivery-wrapper {
  background-image: url(../../img/bg-dot.svg);
  background-size: cover;
  background-color: var(--beige);
  border-radius: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  border: 1px solid red;
}

.delivery-text {
  max-width: 293px;
  margin-top: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  color: var(--black);
  margin-left: auto;
  margin-right: auto;
}

.delivery-text-accent-green {
  font-style: italic;
  color: var(--green);
}

.delivery-text-accent-orange {
  font-style: italic;
  color: var(--orange);
}
.delivery-img {
  width: 295px;
  height: 172px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .delivery-wrapper {
    padding: 40px 80px;
  }

  .delivery-text {
    max-width: 544px;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }

  .delivery-img {
    width: 544px;
    height: 318px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 64px;
  }

  .delivery-text {
    margin-left: 73px;
    margin-top: 0;
    max-width: 473px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
    text-align: start;
  }

  .delivery-img {
    width: 578px;
    height: 339px;
  }
}
