.delivery-wrapper {
  /* background-image: url(../../img/bg-dot.svg);
  background-repeat: repeat; */
  background-color: var(--beige);

  border-radius: 40px;
  padding-bottom: 80px;
  padding-top: 80px;
}

.delivery-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 295px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.96px;
  text-transform: uppercase;
  color: var(--black);
}

.delivery-text-accent-green {
  font-style: italic;
  color: var(--green);
}

.delivery-text-accent-orange {
  font-style: italic;
  color: var(--orange);
}
.delivery-img {
  width: 295px;
  height: 172px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .delivery-wrapper {
    padding-bottom: 40px;
    padding-top: 40px;
  }

  .delivery-text {
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: -1.12px;
  }

  .delivery-img {
    width: 544px;
    height: 318px;
  }
}

@media screen and (min-width: 1280px) {
  .delivery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
    padding-bottom: 63px;
    padding-top: 63px;
  }

  .delivery-text {
    max-width: 437px;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -1.6px;
  }

  .delivery-img {
    width: 578px;
    height: 339px;
  }
}
