.site-nav {
  display: none;
}

.shopping-basket-btn {
  display: none;
}

.shopping-basket-icon {
  display: none;
}

.burger-btn {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.burger-icon {
  color: var(--burger-btn-color);
}

.page-header {
  background-color: var(--white);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  color: var(--black);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin-left: 8px;
}

.logo-icon {
  display: flex;
  fill: var(--burger-btn-color);
}

/* ---------- Mobile Menu ----------------- */

.mobile-menu-window {
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--green);
}

.mobile-menu-window.is-open {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 9999;

  left: -100%;
  transform: translateX(100%);
  transition: transform var(--transision);
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 13px 20px;

  background-color: var(--white);
}

.mobile-menu-form {
  width: 100%;

  height: 100%;
  padding-top: 124px;
  padding-bottom: 516px;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-menu-close-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
}

.mobile-menu-link {
  display: block;
  text-align: center;
  margin-bottom: 16px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  color: var(--white);
}

.shopping-basket-btn {
  display: flex;
  background-color: transparent;
  border: none;
}

.mobile-menu-window .shopping-basket-icon {
  display: flex;
  stroke: var(--white);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .burger-icon {
    display: none;
  }

  .page-header {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-nav {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-right: 86px;
  }

  .site-nav-link {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.56px;
  }

  .shopping-basket-btn {
    background-color: transparent;
    border: none;
  }

  .shopping-basket-icon {
    display: flex;
    stroke: var(--black);
  }
}

@media screen and (min-width: 1280px) {
  .site-nav {
    margin-right: 308px;
    gap: 20px;
  }

  .shopping-basket-icon {
    width: 24px;
    height: 24px;
  }
}
