.how-it-works-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-it-works-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 375px;
    margin-bottom: 80px;
}

.how-it-works-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    color: var(--black);
    max-width: 335px;  
}

.how-it-works-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.how-it-works-img-item {
    width: 335px;
    height: 158px;
}

.how-it-works-text {
    max-width: 335px;
    margin-top: 20px;
}

.steps-container {
    border-radius: 40px;
    background-image: url(../../img/bg-dot.svg);
    background-size: cover;
    background-color: var(--beige);
    margin-top: 80px;
    padding-top: 40px;
    justify-content: center;
    padding-left: 20pt;
}

.steps-title {
    min-width: 295px;
    margin-right: 20px;
}

.steps-list {
    display: block;
    padding-top: 40px;
    width: 100%;
    padding-left: 20px;
    padding-right: 41px;
}

.steps-list-item {
    position: relative;
    padding-bottom: 20px;
    margin-left: 54px;
    margin-right: 45px;
}

.number-list {
    list-style-type: none;
    counter-reset: my-counter;
}

.numbers-item::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    content: counter(my-counter);
    counter-increment: my-counter;
    width: 40px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--green);
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: -0.72px;
    justify-content: center;
    align-items: center;
}

.steps-list-img {
    width: 258px;
    height: 319px;
}

.steps-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    color: var(--black);
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1280px) {

}

