.how-it-works-section {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-it-works-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 335px;
    margin-bottom: 80px;
}

.how-it-works-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    color: var(--black);
    max-width: 335px;  
}

.how-it-works-img {
    width: 335px;
    height: 158px;
}

.steps-container {
    border-radius: 40px;
    background: var(--beige);
    margin-top: 40px;
    padding-top: 40px;
}

.steps-title {
    min-width: 295px;
    padding-left: 20px;
    padding-right: 20px;
}

.steps-list {
    padding-top: 40px;
    padding-right: 85px;
    padding-left: 20px;

}

.steps-list-img {
    width: 258px;
    height: 319px;
}

.steps-container-bg-icon {
    background-image: url(../../img/sprite.svg#icon-green-circle)
}

.repeat {
    background-repeat: repeat;
}

.steps-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    color: var(--black);
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1280px) {

}

