<section class="section">
  <div class="marque">
    <div class="marque-inner">
      <h2 class="marque-line-first">
        Discount up to <span class="fourty-per">40%</span>! Taste the vitamins
        and keep your health! Discount up to
        <span class="fourty-per">40%</span>! Taste the vitamins and keep your
        health! Discount up to <span class="fourty-per">40%</span>! Taste the
        vitamins and keep your health!
      </h2>
    </div>
    <div class="marque-inner-second">
      <h2 class="marque-line-second">
        Discount up to 40%! Taste
        <span class="the-vitamins">the vitamins</span> and keep your health!
        Discount up to 40%! Taste
        <span class="the-vitamins">the vitamins</span> and keep your health!
        Discount up to 40%! Taste
        <span class="the-vitamins">the vitamins</span> and keep your health!
      </h2>
    </div>
  </div>
</section>
