    <div class="contact-information">
      <address>
        <ul>
          <li>
            <a class="contact-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a
              class="location-link"
              href="https://goo.gl/maps/uPh3576bcqRT8v7D9"
              target="_blank"
              rel="noopener noreferrer"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
