<footer class="footer-figuration">
  <div class="footer-container container">
    <div class="logo-tablet">
      <div class="logo-broccoli-text-photo">
        <div class="logo-photo-footer">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/logo-broccoli-1.png  1x,
                ./img/logo-broccolli@2.png 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./img/broccoli-mobile1x.png  1x,
                ./img/broccoli-mobile@2x.png 2x
              "
            />
            <img src="./img/logo-broccoli-1.png" class="img-broccoli" alt="logo-broccoli-photo" />
          </picture>
          <a href="./index.html" class="logo-footer-link"></a>
        </div>
        <div class="logo-footer">
          <svg class="logo-icon-footer" width="16" height="16">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
          <a href="./index.html" class="logo-link-broccoli link">veggieboost</a>
        </div>
      </div>
      <div class="navigation-footer-div">
        <nav class="page-navigation">
          <ul class="navigation-list list">
            <li class="page-navigation">
              <a href="#products" class="page-navigation-link link"
                >How It Works</a
              >
            </li>
            <li class="page-navigation">
              <a href="#vegetables" class="page-navigation-link link"
                >Vegetables</a
              >
            </li>
            <li class="page-navigation">
              <a href="./index.html" class="page-navigation-link link"
                >Contacts</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="social-list-tablet-div">
      <div class="social-links-footer-div">
        <ul class="social-links-footer-list list">
          <li class="social-list-footer">
            <a
              href="https://www.facebook.com"
              class="social-links-footer link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-icons-footer" width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-footer">
            <a
              href="https://www.instagram.com"
              class="social-links-footer link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-icons-footer" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-footer">
            <a
              href="https://www.youtube.com"
              class="social-links-footer link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="social-icons-footer" width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="contact-information">
        <address class="address-footer-list">
          <ul class="contact-address-list list">
            <li class="contact-information-list">
              <a class="contact-link link" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="contact-information-list">
              <a
                class="location-link link"
                href="https://goo.gl/maps/uPh3576bcqRT8v7D9"
                target="_blank"
                rel="noopener noreferrer"
                >1678 S. Pioneer Road Salt Lake City <br />UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</footer>
