<footer>
  <div class="footer-container">
    <div class="logo-footer">
      <img srcset="../img/logo-broccoli-1.png 1x, ../img/logo-broccolli@2.png" 
      src="../img/logo-broccoli-1.png" 
      alt="logo-broccoli-photo"
      width="349"
      height="179"/>
      <a href="./index.html" class="logo-footer-link"></a>
      <svg class="logo-icon" width="16" height="16"><use href=""></use></svg>
      <a href="./index.html" class="logo-link-broccoli">VEGGIEBOOST</a>
    </div>
    <div class="logo-footer-div">
      <nav class="page-navigation">
        <ul class="navigation-list">
          <li class="page-navigation">
            <a href="./index.html" class="page-navigation-link">How It Works</a>
          </li>
          <li>
            <a href="./index.html" class="page-navigation-link">Vegetables</a>
          </li>
          <li>
            <a href="./index.html" class="page-navigation-link">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="social-links-footer-div">
      <ul class="socail-links-footer">
        <li class="social-list-footer">
          <a href="" class="social-links-footer">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-list-footer">
          <a href="" class="social-links-footer">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="social-list-footer">
          <a href="" class="social-links-footer">
            <svg>
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="contact-information">
      <address>
        <ul>
          <li>
            <a class="contact-link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li>
            <a
              class="location-link"
              href="https://goo.gl/maps/uPh3576bcqRT8v7D9"
              target="_blank"
              rel="noopener noreferrer"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  <div>
    <img src="" alt="" />
  </div>
  <div class="logo-footer-div">
    <nav class="page-navigation">
      <a href="./index.html" class="logo-footer-link"></a>
      <svg class="logo-icon" width="16" height="16"><use href=""></use></svg>
      <p>veggieboost</p>
      <ul class="navigation-list">
        <li class="page-navigation">
          <a href="./index.html" class="page-navigation-link">How It Works</a>
        </li>
        <li>
          <a href="./index.html" class="page-navigation-link">Vegetables</a>
        </li>
        <li>
          <a href="./index.html" class="page-navigation-link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="social-links-footer-div">
    <ul class="socail-links-footer">
      <li class="social-list-footer">
        <a href="" class="social-links-footer">
          <svg>
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="social-list-footer">
        <a href="" class="social-links-footer">
          <svg>
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li class="social-list-footer">
        <a href="" class="social-links-footer">
          <svg>
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
