<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <ul class="list site-nav">
        <li class="site-nav-item">
          <a class="link site-nav-link" href="#how-it-works">How It Works</a>
        </li>
        <li class="site-nav-item">
          <a class="link site-nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="site-nav-item">
          <a class="link site-nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <div class="logo">
        <a href="./index.html" class="logo-link link">
          <svg class="logo-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <a class="logo-text logo-link link" href="./index.html">veggieboost</a>
      </div>
    </nav>
    <button class="shopping-basket-btn button" data-modal-open>
      <svg class="shopping-basket-icon" width="20" height="20">
        <use href="./img/sprite.svg#icon-shopping-basket"></use>
      </svg>
    </button>

    <button
      class="burger-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="burger-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile-menu-window js-menu-container" id="mobile-menu">
  <div class="mobile-menu-header">
    <div class="logo">
      <a href="./index.html" class="logo-link link">
        <svg class="logo-icon" width="16" height="16">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a class="logo-text logo-link link" href="./index.html">veggieboost</a>
    </div>
    <button class="mobile-menu-close-btn js-close-menu" type="button">
      <svg
        class="mobile-menu-close-icon"
        aria-label="close"
        width="24"
        height="24"
      >
        <use href="./img/sprite.svg#icon-close-mobile-menu"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu-form">
    <nav class="mobile-menu-nav">
      <ul class="mobile-menu-nav-panel list">
        <li class="mobile-menu-nav-list">
          <a href="#products" class="mobile-menu-link link js-nav-ref"
            >How It Works</a
          >
        </li>
        <li class="mobile-menu-nav-list">
          <a href="#vegetables" class="mobile-menu-link link js-nav-ref"
            >Vegetables</a
          >
        </li>
        <li class="mobile-menu-nav-list">
          <a href="#contacts" class="mobile-menu-link link js-nav-ref"
            >Contacts</a
          >
        </li>
      </ul>
      <button class="shopping-basket-btn button js-nav-ref" data-modal-open>
        <svg class="shopping-basket-icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-shopping-basket"></use>
        </svg>
      </button>
    </nav>
  </div>
</div>
