<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- ================================HERO================================ -->
    <section class="hero-section">
      <div class="container">
        <ul class="reviews-ul list">
          <li class="reviews-li">
            <svg class="hero-svg" width="44" height="44">
              <use href="../img/sprite.svg#icon-Ellipse-1"></use>
            </svg>
            <img
              class="review-img"
              srcset="../img/hero/mobile1-@2x-optimized.png 2x"
              src="../img/hero/mobile1-optimized.png"
              alt="avatar photo"
              width="40"
            />
          </li>
          <li class="reviews-li">
            <svg class="hero-svg" width="44" height="44">
              <use href="../img/sprite.svg#icon-Ellipse-1"></use>
            </svg>
            <img
              class="review-img"
              srcset="../img/hero/mobile2-@2x-optimized.png 2x"
              src="../img/hero/mobile2-optimized.png"
              alt="avatar photo"
              width="40"
            />
          </li>
          <li class="reviews-li">
            <svg class="hero-svg" width="44" height="44">
              <use href="../img/sprite.svg#icon-Ellipse-1"></use>
            </svg>
            <img
              class="review-img"
              srcset="../img/hero/mobile3-@2x-optimized.png 2x"
              src="../img/hero/mobile3-optimized.png"
              alt="avatar photo"
              width="40"
            />
          </li>

          <li class="text-li">
            <svg class="hero-svg" width="44" height="44">
              <use href="../img/sprite.svg#icon-Ellipse-1"></use>
            </svg>
            <div class="text-div">
              <p class="first-p">2k</p>
              <p class="second-p">reviews</p>
            </div>
          </li>
        </ul>

        <!-- ================================TEXT================================ -->

        <h1 class="hero-tittle">
          organic <span class="tittle-span">vegetables</span> to your diet
          today!
        </h1>
        <p class="hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <!-- ================================BTN================================ -->

        <div class="btn-div">
          <svg class="hero-svg-second" width="68" height="68">
            <use href="../img/sprite.svg#icon-Ellipse-2"></use>
          </svg>
          <button class="hero-btn" type="button">shop now</button>
        </div>
        <!-- ================================BANNER================================ -->

        <img
          class="hero-banner"
          srcset="../img/hero/mobile4-@2x-optimized.png 2x"
          src="../img/hero/mobile4-optimized.png"
          alt="woman with veggie"
          width="303"
        />
        <!-- ================================ANCHORS================================ -->

        <ul class="hero-ul list">
          <li class="anchor-li">
            <a class="anchor current link" href="#organic">#organic</a>
          </li>
          <li class="anchor-li">
            <a class="anchor link" href="#products">#products</a>
          </li>
          <li class="anchor-li">
            <a class="anchor link" href="#basket">#basket</a>
          </li>
          <li class="anchor-li">
            <a class="anchor link" href="#vegetables">#vegetables</a>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
