<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- ================================HERO================================ -->
    <section class="hero-section">
      <div class="container">
        <div class="reviews-div">
          <div class="review-img-div">
            <svg class="hero-svg" width="44" height="44">
              <use href="../img/hero/elipses.svg#icon-Ellipse-1"></use>
            </svg>
            <img
              class="review-img"
              srcset="../img/hero/mobile1-@2x-optimized.png 2x"
              src="../img/hero/mobile1-optimized.png"
              alt="avatar photo"
              width="40"
            />
            <svg class="hero-svg" width="44" height="44">
              <use href="../img/hero/elipses.svg#icon-Ellipse-1"></use>
            </svg>
            <img
              class="review-img"
              srcset="../img/hero/mobile2-@2x-optimized.png 2x"
              src="../img/hero/mobile2-optimized.png"
              alt="avatar photo"
              width="40"
            />
            <svg class="hero-svg" width="44" height="44">
              <use href="../img/hero/elipses.svg#icon-Ellipse-1"></use>
            </svg>
            <img
              class="review-img"
              srcset="../img/hero/mobile3-@2x-optimized.png 2x"
              src="../img/hero/mobile3-optimized.png"
              alt="avatar photo"
              width="40"
            />
          </div>
          <div class="text-div">
            <svg class="hero-svg" width="44" height="44">
              <use href="../img/hero/elipses.svg#icon-Ellipse-1"></use>
            </svg>
            <p>2k</p>
            <p>reviews</p>
          </div>
        </div>
        <h1 class="hero-tittle">
          organic <span class="tittle-span">vegetables</span> to your diet
          today!
        </h1>
        <p class="hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <div class="btn-div">
          <svg class="hero-svg-second" width="44" height="44">
            <use href="../img/hero/elipses.svg#icon-Ellipse-2"></use>
          </svg>
          <button class="hero-btn" type="button">shop now</button>
        </div>
        <img
          class="hero-banner"
          srcset="../img/hero/mobile4-@2x-optimized.png 2x"
          src="../img/hero/mobile4-optimized.png"
          alt="woman with veggie"
          width="303"
        />
        <div class="hero-state-btn">
          <button type="button" class="state-btn current">#organic</button>
          <button type="button" class="state-btn">#products</button>
          <button type="button" class="state-btn">#basket</button>
          <button type="button" class="state-btn">#vegetables</button>
        </div>
      </div>
    </section>
  </body>
</html>
