<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- ================================HERO================================ -->
    <section class="hero-section">
      <div class="container hero-div">
        <ul class="reviews-ul list">
          <li class="reviews-li li-first">
            <!-- <svg class="hero-svg" width="44" height="44">
              <use href="../img/sprite.svg#icon-Ellipse-1"></use>
            </svg> -->
            <picture>
              <source
                srcset="
                  ./img/hero/desktop/desktop1_optimized.png     1x,
                  ./img/hero/desktop/desktop1_@2x_optimized.png 2x,
                  ./img/hero/desktop/desktop1_@3x_optimized.png 3x
                "
                media="(min-width: 1280px)" />

              <source
                srcset="
                  ./img/hero/tablet/tablet1_optimized.png     1x,
                  ./img/hero/tablet/tablet1_@2x_optimized.png 2x,
                  ./img/hero/tablet/tablet1_@3x_optimized.png 3x
                "
                media="(min-width: 768px)" />

              <source
                srcset="
                  ./img/hero/mobile/mobile1_optimized.png     1x,
                  ./img/hero/mobile/mobile1_@2x_optimized.png 2x,
                  ./img/hero/mobile/mobile1_@3x_optimized.png 3x
                "
                media="(min-width: 375px)" />

              <img
                src="./img/hero/mobile/mobile1_optimized.png"
                class="review-img"
                alt="avatar photo"
            /></picture>
          </li>
          <li class="reviews-li li-second">
            <!-- <svg class="hero-svg" width="44" height="44">
              <use href="../img/sprite.svg#icon-Ellipse-1"></use>
            </svg> -->
            <picture>
              <source
                srcset="
                  ./img/hero/desktop/desktop2_optimized.png     1x,
                  ./img/hero/desktop/desktop2_@2x_optimized.png 2x,
                  ./img/hero/desktop/desktop2_@3x_optimized.png 3x
                "
                media="(min-width: 1280px)" />

              <source
                srcset="
                  ./img/hero/tablet/tablet2_optimized.png     1x,
                  ./img/hero/tablet/tablet2_@2x_optimized.png 2x,
                  ./img/hero/tablet/tablet2_@3x_optimized.png 3x
                "
                media="(min-width: 768px)" />

              <source
                srcset="
                  ./img/hero/mobile/mobile2_optimized.png     1x,
                  ./img/hero/mobile/mobile2_@2x_optimized.png 2x,
                  ./img/hero/mobile/mobile2_@3x_optimized.png 3x
                "
                media="(min-width: 375px)" />

              <img
                src="./img/hero/mobile/mobile2_optimized.png"
                class="review-img"
                alt="avatar photo"
            /></picture>
          </li>
          <li class="reviews-li li-third">
            <!-- <svg class="hero-svg" width="44" height="44">
              <use href="../img/sprite.svg#icon-Ellipse-1"></use>
            </svg> -->
            <picture>
              <source
                srcset="
                  ./img/hero/desktop/desktop3_optimized.png     1x,
                  ./img/hero/desktop/desktop3_@2x_optimized.png 2x,
                  ./img/hero/desktop/desktop3_@3x_optimized.png 3x
                "
                media="(min-width: 1280px)" />

              <source
                srcset="
                  ./img/hero/tablet/tablet3_optimized.png     1x,
                  ./img/hero/tablet/tablet3_@2x_optimized.png 2x,
                  ./img/hero/tablet/tablet3_@3x_optimized.png 3x
                "
                media="(min-width: 768px)" />

              <source
                srcset="
                  ./img/hero/mobile/mobile3_optimized.png     1x,
                  ./img/hero/mobile/mobile3_@2x_optimized.png 2x,
                  ./img/hero/mobile/mobile3_@3x_optimized.png 3x
                "
                media="(min-width: 375px)" />

              <img
                src="./img/hero/mobile/mobile3_optimized.png"
                class="review-img"
                alt="avatar photo"
            /></picture>
          </li>

          <li class="text-li li-fourth">
            <svg class="hero-svg" width="43" height="43">
              <use href="./img/sprite.svg#icon-Ellipse-1"></use>
            </svg>
            <div class="text-div">
              <p class="first-p">2k</p>
              <p class="second-p">reviews</p>
            </div>
          </li>
        </ul>

        <!-- ================================TEXT================================ -->

        <h1 class="hero-tittle">
          organic <span class="tittle-span">vegetables</span> to your diet
          today!
        </h1>
        <p class="hero-text">
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
        <!-- ================================BTN================================ -->

        <div class="btn-div">
          <svg class="hero-svg-second" width="68" height="68">
            <use href="../img/sprite.svg#icon-Ellipse-1"></use>
          </svg>
          <button class="hero-btn" type="button" data-modal-open>
            shop now
          </button>
        </div>
        <!-- ================================BANNER================================ -->
        <picture>
          <source
            srcset="
              ./img/hero/desktop/desktop4_optimized.png     1x,
              ./img/hero/desktop/desktop4_@2x_optimized.png 2x,
              ./img/hero/desktop/desktop4_@3x_optimized.png 3x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/hero/tablet/tablet4_optimized.png     1x,
              ./img/hero/tablet/tablet4_@2x_optimized.png 2x,
              ./img/hero/tablet/tablet4_@3x_optimized.png 3x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/hero/mobile/mobile4_optimized.png     1x,
              ./img/hero/mobile/mobile4_@2x_optimized.png 2x,
              ./img/hero/mobile/mobile4_@3x_optimized.png 3x
            "
            media="(min-width: 375px)"
          />

          <img
            class="hero-banner"
            src="./img/hero/mobile/mobile4_optimized.png"
            alt="woman with veggie"
          />
        </picture>

        <!-- ================================ANCHORS================================ -->

        <div class="anchor-container">
          <ul class="anchor-ul list">
            <li class="anchor-li">
              <a class="anchor current link" href="#organic">#organic</a>
            </li>
            <li class="anchor-li">
              <a class="anchor link" href="#products">#products</a>
            </li>
            <li class="anchor-li">
              <a class="anchor link" href="#basket">#basket</a>
            </li>
            <li class="anchor-li">
              <a class="anchor link" href="#vegetables">#vegetables</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </body>
</html>
