<!-- MODAL -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="modal-close-icon">
        <use href="./img/sprite.svg#icon-close-button-modal"></use>
      </svg>
    </button>

    <h2 class="modal-title">Your Order</h2>
    <ul class="modal-list list">
      <li class="modal-item">
        <div class="checkbox-container">
          <input class="modal-input" type="checkbox" id="checkbox-cabbage" name="cabbage" value="true" />
          <label class="modal-checkbox-label" for="checkbox-cabbage">
            <span class="modal-checkbox-custom">
              <svg class="checkbox-custom-icon" width="8" height="8">
                <use href="./img/sprite.svg#icon-checkmark-checkbox"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="text-container">
          <h3 class="modal-item-title">Cabbage Basket</h3>
          <p class="modal-item-description">Plant</p>
        </div>
        <div class="img-wrapper">
          <img class="modal-item-img" srcset="./img/modal-window/cabbage@2x.webp 2x"
            src="./img/modal-window/cabbage.webp" alt="Cabbage in basket" />
        </div>
      </li>

      <li class="modal-item">
        <div class="checkbox-container">
          <input class="modal-input" type="checkbox" id="checkbox-tomato" name="tomato" value="true" />
          <label class="modal-checkbox-label" for="checkbox-tomato">
            <span class="modal-checkbox-custom">
              <svg class="checkbox-custom-icon" width="8" height="8">
                <use href="./img/sprite.svg#icon-checkmark-checkbox"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="text-container">
          <h3 class="modal-item-title">Tomato Basket</h3>
          <p class="modal-item-description">Plant</p>
        </div>
        <div class="img-wrapper">
          <img class="modal-item-img" srcset="./img/modal-window/tomato@2x.webp 2x" src="./img/modal-window/tomato.webp"
            alt="Tomato in basket" />
        </div>
      </li>

      <li class="modal-item">
        <div class="checkbox-container">
          <input class="modal-input" type="checkbox" id="checkbox-plant" name="plant" value="true" />
          <label class="modal-checkbox-label" for="checkbox-plant">
            <span class="modal-checkbox-custom">
              <svg class="checkbox-custom-icon" width="8" height="8">
                <use href="./img/sprite.svg#icon-checkmark-checkbox"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="text-container">
          <h3 class="modal-item-title">Vegetables Basket</h3>
          <p class="modal-item-description">Plant</p>
        </div>
        <div class="img-wrapper">
          <img class="modal-item-img" srcset="./img/modal-window/vegetables@2x.webp 2x"
            src="./img/modal-window/vegetables.webp" alt="Vegetables in basket" />
        </div>
      </li>
    </ul>

    <!-- MODAL FORM -->

    <form class="modal-form">
      <label class="modal-form-label"><input class="modal-form-input" type="text" name="user-name" minlength="4"
          maxlength="20" pattern="[a-zA-Z ]+" title="Anna" required placeholder="Enter full name..." /></label>
      <label class="modal-form-label"><input class="modal-form-input" type="email" name="user-email"
          pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" title="test@gmail.com" required
          placeholder="Enter email..." /></label>
      <label class="modal-form-label"><input class="modal-form-input" type="tel" minlength="16" maxlength="16"
          pattern="[0-9]+" name="user-card-number" required placeholder="Enter card..." /></label>
      <label class="modal-form-comment-label">
        <textarea class="modal-form-comment" name="comment" placeholder="Enter comments..."></textarea>
      </label>
      <button class="modal-form-btn" type="submit">Submit</button>
    </form>

    <picture>
      <source media="(min-width: 1280px)" srcset="
          ./img/modal-window/modal-girl.webp    1x,
          ./img/modal-window/modal-girl@2x.webp 2x
        " width="444" height="410" />
      <source media="(min-width: 768px)" srcset="
          ./img/modal-window/tablet-girl.webp    1x,
          ./img/modal-window/tablet-girl@2x.webp 2x
        " width="290" height="403" />
      <img class="modal-form-img" src="./img/modal-window/modal-girl.webp" alt="girl with vegetables" />
    </picture>
  </div>
</div>