<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="vegetables">
        <div>
            <h2>ORGANIC VEGETABLES</h2>
            <p>Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring
                that you get
                the freshest and most nutritious produce possible.
            </p>
            <ul>
                <li>
                    <h3>Carrot</h3>
                    <p>Plant</p>
                    <picture>
                        <source src="../img/vegetables/carrot_desc@1x.jpg 1x, ../img/vegetables/carrot_desc@2x.jpg 2x"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/carrot_tab@1x.jpg 1x, ../img/vegetables/carrot_tab@2x.jpg 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/carrot_mob@1x.jpg 1x, ../img/vegetables/carrot_mob@2x.jpg 2x"
                            media="(min-width: 375px)" />

                        <img src="../img/vegetables/carrot_desc@1x.jpg" alt="carrot">
                    </picture>
                    <p>100 UAH / kg</p>
                </li>
                <li>
                    <h3>Brussel sprouts</h3>
                    <p>Plant</p>
                    <picture>
                        <source src="../img/vegetables/brussel_desc@1x.jpg 1x, ../img/vegetables/brussel_desc@2x.jpg 2x"
                            media="(min-width: 1280px)" />

                        <source
                            src="../img/vegetables/brussel sprouts_tab@1x.jpg 1x, ../img/vegetables/carrot_tab@1x.jpg 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/carrot_mob@1x.jpg 1x, ../img/vegetables/carrot_mob@2x.jpg 2x"
                            media="(min-width: 375px)" />

                        <img src="../img/vegetables/brussel_desc@1x.jpg" alt="brussel">
                    </picture>
                    <p>80 UAH / kg</p>
                </li>
                <li>
                    <h3>Carrot</h3>
                    <p>Plant</p>
                    <picture>
                        <source src="../img/vegetables/carrot_desc@1x.jpg 1x, ../img/vegetables/carrot_desc@2x.jpg 2x"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/carrot_tab@1x.jpg 1x, ../img/vegetables/carrot_tab@2x.jpg 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/carrot_mob@1x.jpg 1x, ../img/vegetables/carrot_mob@2x.jpg 2x"
                            media="(min-width: 375px)" />

                        <img src="../img/vegetables/carrot_desc@1x.jpg" alt="carrot">
                    </picture>
                    <p>100 UAH / kg</p>
                </li>
            </ul>
        </div>



    </section>
</body>

</html>