<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/layout/vegetables.css" />
</head>

<body>
    <section class="vegetables container section">
        <div>
            <h2>ORGANIC VEGETABLES</h2>
            <p>Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring
                that you get
                the freshest and most nutritious produce possible.
            </p>
            <ul class="vegetables-bloc list">
                <li>
                    <h3 class="vgtb-title">Carrot</h3>
                    <p class="vgtb-subtitle">Plant</p>
                    <picture>
                        <source src="../img/vegetables/carrot_desc1x.png 1x, ../img/vegetables/carrot_desc2x.png 2x"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/carrot_tab1x.png 1x, ../img/vegetables/carrot_tab2x.png 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/carrot_mob1x.png 1x, ../img/vegetables/carrot_mob2x.png 2x"
                            media="(min-width: 375px)" />

                        <img class="vgtb-image" src="../img/vegetables/carrot_desc1x.png" alt="carrot">
                    </picture>
                    <svg class="vgtb-icon">
                        <use href="../img/vegetables.svg#icon-Oval"></use>
                    </svg>
                    <p>100 UAH / kg</p>
                </li>
                <li>
                    <h3 class="vgtb-title">Brussel sprouts</h3>
                    <p class="vgtb-subtitle">Plant</p>
                    <picture>
                        <source src="../img/vegetables/brussel_desc@1x.png 1x, ../img/vegetables/brussel_desc@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/corn_tab@1x.png 1x, ../img/vegetables/corn_tab@2x.png 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/brussel_mob@1x.png 1x, ../img/vegetables/brussel_mob@2x.png 2x"
                            media="(min-width: 375px)" />

                        <img class="vgtb-image" src="../img/vegetables/brussel_desc@1x.png" alt="Brussel sprouts">
                    </picture>
                    <p>80 UAH / kg</p>
                </li>
                <li>
                    <h3 class="vgtb-title">Tomato</h3>
                    <p class="vgtb-subtitle">Plant</p>
                    <picture>
                        <source src="../img/vegetables/tomato_desc@1x.png 1x, ../img/vegetables/tomato_desc@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/tomato_tab@1x.png 1x, ../img/vegetables/tomato_tab@2x.png 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/tomato_mob@1x.png 1x, ../img/vegetables/tomato_mob@1x.png 2x"
                            media="(min-width: 375px)" />

                        <img class="vgtb-image" src="../img/vegetables/tomato_desc@1x.png" alt="Tomato">
                    </picture>
                    <p>40 UAH / kg</p>
                </li>
                <li>
                    <h3 class="vgtb-title">Eggplant</h3>
                    <p class="vgtb-subtitle">Plant</p>
                    <picture>
                        <source
                            src="../img/vegetables/eggplant_desc@1x.png 1x, ../img/vegetables/eggplant_desc@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/eggplant_tab@1x.png 1x, ../img/vegetables/eggplant_tab@1x.png 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/eggplant_mob@1x.png 1x, ../img/vegetables/eggplant_mob@2x.png 2x"
                            media="(min-width: 375px)" />

                        <img class="vgtb-image" src="../img/vegetables/eggplant_desc@1x.png 1x" alt="Eggplant">
                    </picture>
                    <p>60 UAH / kg</p>
                </li>
                <li>
                    <h3 class="vgtb-title">Sweet potatoes</h3>
                    <p class="vgtb-subtitle">Plant</p>
                    <picture>
                        <source src="../img/vegetables/potatoes_desc@1x.png 1x, ../img/vegetables/potatoes_desc@2x.png"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/potatoes_tab@1x.png 1x, ../img/vegetables/potatoes_tab@2x.png 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/potatoes_mob@1x.png 1x, ../img/vegetables/potatoes_mob@2x.png 2x"
                            media="(min-width: 375px)" />

                        <img class="vgtb-image" src="../img/vegetables/potatoes_desc@1x.png" alt="potatoes">
                    </picture>
                    <p>80 UAH / kg</p>
                </li>
                <li>
                    <h3 class="vgtb-title">Leek</h3>
                    <p class="vgtb-subtitle">Plant</p>
                    <picture>
                        <source src="../img/vegetables/leek_desc@1x.png 1x, ../img/vegetables/leek_desc@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/leek_tab@1x.png 1x, ../img/vegetables/leek_desc@2x.png 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/leek_mob@1x.png 1x, ../img/vegetables/leek_mob@2x.png 2x"
                            media="(min-width: 375px)" />

                        <img class="vgtb-image" src="../img/vegetables/leek_desc@1x.png" alt="Leek">
                    </picture>
                    <p>50 UAH / kg</p>
                </li>
                <li>
                    <h3 class="vgtb-title">Mushrooms</h3>
                    <p class="vgtb-subtitle">Plant</p>
                    <picture>
                        <source
                            src="../img/vegetables/mushrooms_desc@1x.png 1x, ../img/vegetables/mushrooms_desc@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <source
                            src="../img/vegetables/mushrooms_tab@1x.png 1x, ../img/vegetables/mushrooms_tab@2x.png 2x"
                            media="(min-width: 768px)" />

                        <source
                            src="../img/vegetables/mushrooms_mob@1x.png 1x, ../img/vegetables/mushrooms_mob@2x.png 2x"
                            media="(min-width: 375px)" />

                        <img class="vgtb-image" src="../img/vegetables/mushrooms_desc@1x.png" alt="Mushrooms">
                    </picture>
                    <p>40 UAH / kg</p>
                </li>
                <li>
                    <h3 class="vgtb-title">Corn</h3>
                    <p class="vgtb-subtitle">Plant</p>
                    <picture>
                        <source src="../img/vegetables/corn_desc@1x.png 1x, ../img/vegetables/corn_desc@2x.png 2x"
                            media="(min-width: 1280px)" />

                        <source src="../img/vegetables/corn_tab@1x.png 1x, ../img/vegetables/corn_tab@2x.png 2x"
                            media="(min-width: 768px)" />

                        <source src="../img/vegetables/corn_desc@1x.png 1x, ../img/vegetables/corn_desc@2x.png 2x"
                            media="(min-width: 375px)" />

                        <img class="vgtb-image" src="../img/vegetables/corn_desc@1x.png" alt="Corn">
                    </picture>
                    <p>50 UAH / kg</p>
                </li>
            </ul>
        </div>



    </section>
</body>

</html>