<section class="vegetables container section">
  <div class="vgtb-div">
    <div class="title-div">
      <h2 class="vgtb-title">ORGANIC VEGETABLES</h2>
      <p class="vegetables-subtitle">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>

    <ul class="vegetables-bloc list">
      <li class="vgtb-link">
        <div class="link-text">
          <h3 class="vgtb-link-title">Carrot</h3>


    <section class="vegetables">
        <div class="container vgtb-div">
            <div class="title-div">
                <h2 class="vgtb-title">ORGANIC VEGETABLES</h2>
                <p class="vegetables-subtitle">Our organic vegetables are hand-picked from local farms and delivered
                    straight
                    to
                    your doorstep, ensuring
                    that you get
                    the freshest and most nutritious produce possible.
                </p>
            </div>

            <ul class="vegetables-bloc list">

                <li class="vgtb-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Carrot</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/carrot_desc@1x.png 1x, ./img/vegetables/carrot_desc@2x.png 2x"
                                media="(min-width: 1280px)">

                            <source
                                srcset="./img/vegetables/carrot_tab@1x.png 1x, ./img/vegetables/carrot_tab@2x.png 2x"
                                media="(min-width: 768px)">

                            <source
                                srcset="./img/vegetables/carrot_mob@1x.png 1x, ./img/vegetables/carrot_mob@2x.png 2x"
                                media="(max-width: 767px)">

                            <img class="vgtb-image" src="./img/vegetables/carrot_desc1x.png" alt="carrot">
                        </picture>

                    </div>

                    <p class="price">100 UAH / kg</p>
                </li>
                <li class="vgtb-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Brussel sprouts</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/brussel_desc@1x.png 1x, ./img/vegetables/brussel_desc@2x.png 2x"
                                media="(min-width: 1280px)">

                            <source srcset="./img/vegetables/corn_tab@1x.png 1x, ./img/vegetables/corn_tab@2x.png 2x"
                                media="(min-width: 768px)" />

                            <source
                                srcset="./img/vegetables/brussel_mob@1x.png 1x, ./img/vegetables/brussel_mob@2x.png 2x"
                                media="(max-width: 767px)" />

                            <img class="vgtb-image" src="./img/vegetables/brussel_desc@1x.png" alt="Brussel sprouts">
                        </picture>
                    </div>

                    <p class="price">80 UAH / kg</p>
                </li>

                <li class="vgtb-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Tomato</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/tomato_desc@1x.png 1x, ./img/vegetables/tomato_desc@2x.png 2x"
                                media="(min-width: 1280px)" />

                            <source
                                srcset="./img/vegetables/tomato_tab@1x.png 1x, ./img/vegetables/tomato_tab@2x.png 2x"
                                media="(min-width: 768px)" />

                            <source
                                srcset="./img/vegetables/tomato_mob@1x.png 1x, ./img/vegetables/tomato_mob@2x.png 2x"
                                media="(max-width: 767px)" />

                            <img class="vgtb-image" src="./img/vegetables/tomato_desc@1x.png" alt="Tomato">
                        </picture>
                    </div>

                    <p class="price">40 UAH / kg</p>
                </li>

                <li class="vgtb-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Eggplant</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/eggplant_desc@1x.png 1x, ./img/vegetables/eggplant_desc@2x.png 2x"
                                media="(min-width: 1280px)" />

                            <source
                                srcset="./img/vegetables/eggplant_tab@1x.png 1x, ./img/vegetables/eggplant_tab@2x.png 2x"
                                media="(min-width: 768px)" />

                            <source
                                srcset="./img/vegetables/eggplant_mob@1x.png 1x, ./img/vegetables/eggplant_mob@2x.png 2x"
                                media="(max-width: 767px)" />

                            <img class="vgtb-image" src="./img/vegetables/eggplant_desc@1x.png 1x" alt="Eggplant">

                        </picture>
                    </div>

                    <p class="price">60 UAH / kg</p>
                </li>

                <li class="vgtb-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Sweet potatoes</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/potatoes_desc@1x.png 1x, ./img/vegetables/potatoes_desc@2x.png 2x"
                                media="(min-width: 1280px)" />

                            <source
                                srcset="./img/vegetables/potatoes_tab@1x.png 1x, ./img/vegetables/potatoes_tab@2x.png 2x"
                                media="(min-width: 768px)" />

                            <source
                                srcset="./img/vegetables/potatoes_mob@1x.png 1x, ./img/vegetables/potatoes_mob@2x.png 2x"
                                media="(max-width: 767px)" />

                            <img class="vgtb-image" src="./img/vegetables/potatoes_desc@1x.png" alt="potatoes">
                        </picture>
                    </div>

                    <p class="price">80 UAH / kg</p>
                </li>

                <li class="vgtb-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Leek</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/leek_desc@1x.png 1x, ./img/vegetables/leek_desc@2x.png 2x"
                                media="(min-width: 1280px)" />

                            <source srcset="./img/vegetables/leek_tab@1x.png 1x, ./img/vegetables/leek_desc@2x.png 2x"
                                media="(min-width: 768px)" />

                            <source srcset="./img/vegetables/leek_mob@1x.png 1x, ./img/vegetables/leek_mob@2x.png 2x"
                                media="(max-width: 767px)" />

                            <img class="vgtb-image" src="./img/vegetables/leek_desc@1x.png" alt="Leek">
                        </picture>
                    </div>

                    <p class="price">50 UAH / kg</p>
                </li>

                <li class="vgtb-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Mushrooms</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/mushrooms_desc@1x.png 1x, ./img/vegetables/mushrooms_desc@2x.png 2x"
                                media="(min-width: 1280px)" />

                            <source
                                srcset="./img/vegetables/mushrooms_tab@1x.png 1x, ./img/vegetables/mushrooms_tab@2x.png 2x"
                                media="(min-width: 768px)" />

                            <source
                                srcset="./img/vegetables/mushrooms_mob@1x.png 1x, ./img/vegetables/mushrooms_mob@2x.png 2x"
                                media="(max-width: 767px)" />

                            <img class="vgtb-image" src="./img/vegetables/mushrooms_desc@1x.png" alt="Mushrooms">
                        </picture>

                    </div>

                    <p class="price">40 UAH / kg</p>
                </li>

                <li class="vgtb-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Corn</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/corn_desc@1x.png 1x, ./img/vegetables/corn_desc@2x.png 2x"
                                media="(min-width: 1280px)" />

                            <source srcset="./img/vegetables/corn_tab@1x.png 1x, ./img/vegetables/corn_tab@2x.png 2x"
                                media="(min-width: 768px)" />

                            <source srcset="./img/vegetables/corn_mob@1x.png 1x, ./img/vegetables/corn_mob@2x.png 2x"
                                media="(max-width: 767px)" />

                            <img class="vgtb-image" src="./img/vegetables/corn_desc@1x.png" alt="Corn">
                        </picture>

                    </div>
                    <p class="price">50 UAH / kg</p>
                </li>

                <li class="radish-link">
                    <div class="link-text">
                        <h3 class="vgtb-link-title">Radish</h3>

                        <p class="vgtb-subtitle">Plant</p>
                    </div>

                    <div class="image-div">
                        <picture class="vegetables-img-wraper">
                            <source
                                srcset="./img/vegetables/radish_desc@1x.png 1x, ./img/vegetables/radish_desc@2x.png 2x"
                                media="(min-width: 1280px)" />

                            <img class="vgtb-image" src="./img/vegetables/radish_desc@1x.png" alt="Radish">
                        </picture>

                    </div>
                    <p class="price">90 UAH / kg</p>
                </li>
            </ul>
        </div>

        <button class="vegetables-button" type="button">
            <div class="vegetables-button-rotate">
                <svg class="button-svg" width="14" height="14">
                    <use href="./img/sprite.svg#icon-Vector-2"></use>
                </svg>
                <span class="button-text">Order</span>
            </div>
        </button>

            <source
              srcset="
                ./img/vegetables/carrot_tab1x.png 1x,
                ./img/vegetables/carrot_tab2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/vegetables/carrot_mob1x.png 1x,
                ./img/vegetables/carrot_mob2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="vgtb-image"
              src="./img/vegetables/carrot_desc1x.png"
              alt="carrot"
            />
          </picture>

          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>

        <h4 class="price">100 UAH / kg</h4>
      </li>
      <li class="vgtb-link">
        <div class="link-text">
          <h3 class="vgtb-link-title">Brussel sprouts</h3>

          <p class="vgtb-subtitle">Plant</p>
        </div>

        <div class="image-div">
          <picture class="vegetables-img-wraper">
            <source
              srcset="
                ./img/vegetables/brussel_desc@1x.png 1x,
                ./img/vegetables/brussel_desc@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/vegetables/corn_tab@1x.png 1x,
                ./img/vegetables/corn_tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/vegetables/brussel_mob@1x.png 1x,
                ./img/vegetables/brussel_mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="vgtb-image"
              src="./img/vegetables/brussel_desc@1x.png"
              alt="Brussel sprouts"
            />
          </picture>
          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>

        <h4 class="price">80 UAH / kg</h4>
      </li>

      <li class="vgtb-link">
        <div class="link-text">
          <h3 class="vgtb-link-title">Tomato</h3>

          <p class="vgtb-subtitle">Plant</p>
        </div>

        <div class="image-div">
          <picture class="vegetables-img-wraper">
            <source
              srcset="
                ./img/vegetables/tomato_desc@1x.png 1x,
                ./img/vegetables/tomato_desc@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/vegetables/tomato_tab@1x.png 1x,
                ./img/vegetables/tomato_tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/vegetables/tomato_mob@1x.png 1x,
                ./img/vegetables/tomato_mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="vgtb-image"
              src="./img/vegetables/tomato_desc@1x.png"
              alt="Tomato"
            />
          </picture>
          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>

        <h4 class="price">40 UAH / kg</h4>
      </li>

      <li class="vgtb-link">
        <div class="link-text">
          <h3 class="vgtb-link-title">Eggplant</h3>

          <p class="vgtb-subtitle">Plant</p>
        </div>

        <div class="image-div">
          <picture class="vegetables-img-wraper">
            <source
              srcset="
                ./img/vegetables/eggplant_desc@1x.png 1x,
                ./img/vegetables/eggplant_desc@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/vegetables/eggplant_tab@1x.png 1x,
                ./img/vegetables/eggplant_tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/vegetables/eggplant_mob@1x.png 1x,
                ./img/vegetables/eggplant_mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="vgtb-image"
              src="./img/vegetables/eggplant_desc@1x.png 1x"
              alt="Eggplant"
            />
          </picture>
          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>

        <h4 class="price">60 UAH / kg</h4>
      </li>

      <li class="vgtb-link">
        <div class="link-text">
          <h3 class="vgtb-link-title">Sweet potatoes</h3>

          <p class="vgtb-subtitle">Plant</p>
        </div>

        <div class="image-div">
          <picture class="vegetables-img-wraper">
            <source
              srcset="
                ./img/vegetables/potatoes_desc@1x.png 1x,
                ./img/vegetables/potatoes_desc@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/vegetables/potatoes_tab@1x.png 1x,
                ./img/vegetables/potatoes_tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/vegetables/potatoes_mob@1x.png 1x,
                ./img/vegetables/potatoes_mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="vgtb-image"
              src="./img/vegetables/potatoes_desc@1x.png"
              alt="potatoes"
            />
          </picture>
          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>

        <h4 class="price">80 UAH / kg</h4>
      </li>

      <li class="vgtb-link">
        <div class="link-text">
          <h3 class="vgtb-link-title">Leek</h3>

          <p class="vgtb-subtitle">Plant</p>
        </div>

        <div class="image-div">
          <picture class="vegetables-img-wraper">
            <source
              srcset="
                ./img/vegetables/leek_desc@1x.png 1x,
                ./img/vegetables/leek_desc@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/vegetables/leek_tab@1x.png  1x,
                ./img/vegetables/leek_desc@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/vegetables/leek_mob@1x.png 1x,
                ./img/vegetables/leek_mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="vgtb-image"
              src="./img/vegetables/leek_desc@1x.png"
              alt="Leek"
            />
          </picture>
          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>

        <h4 class="price">50 UAH / kg</h4>
      </li>

      <li class="vgtb-link">
        <div class="link-text">
          <h3 class="vgtb-link-title">Mushrooms</h3>

          <p class="vgtb-subtitle">Plant</p>
        </div>

        <div class="image-div">
          <picture class="vegetables-img-wraper">
            <source
              srcset="
                ./img/vegetables/mushrooms_desc@1x.png 1x,
                ./img/vegetables/mushrooms_desc@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/vegetables/mushrooms_tab@1x.png 1x,
                ./img/vegetables/mushrooms_tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/vegetables/mushrooms_mob@1x.png 1x,
                ./img/vegetables/mushrooms_mob@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="vgtb-image"
              src="./img/vegetables/mushrooms_desc@1x.png"
              alt="Mushrooms"
            />
          </picture>
          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>

        <h4 class="price">40 UAH / kg</h4>
      </li>

      <li class="vgtb-link">
        <div class="link-text">
          <h3 class="vgtb-link-title">Corn</h3>

          <p class="vgtb-subtitle">Plant</p>
        </div>

        <div class="image-div">
          <picture class="vegetables-img-wraper">
            <source
              srcset="
                ./img/vegetables/corn_desc@1x.png 1x,
                ./img/vegetables/corn_desc@2x.png 2x
              "
              media="(min-width: 1280px)"
            />

            <source
              srcset="
                ./img/vegetables/corn_tab@1x.png 1x,
                ./img/vegetables/corn_tab@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/vegetables/corn_desc@1x.png 1x,
                ./img/vegetables/corn_desc@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="vgtb-image"
              src="./img/vegetables/corn_desc@1x.png"
              alt="Corn"
            />
          </picture>
          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>
        <h4 class="price">50 UAH / kg</h4>
      </li>

      <li class="radish-link">
        <div>
          <h3 class="vgtb-link-title">Radish</h3>
          <p class="vgtb-subtitle">Plant</p>
        </div>

        <div class="link-text">
          <picture class="vegetables-img-wraper">
            <source
              srcset="
                ./img/vegetables/radish_desc@1x.png 1x,
                ./img/vegetables/radish_desc@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              class="radish-image"
              src="./img/vegetables/radish_desc@1x.png"
              alt="radish"
            />
          </picture>
          <img
            class="vgtb-icon"
            src="./img/vegetables/Oval.png"
            alt="oval"
            width="195"
            height="38"
          />
        </div>

        <h4 class="price">40 UAH / kg</h4>
      </li>
    </ul>
  </div>

  <button class="vegetables-button">
    <div type="button">
      <svg class="button-svg" width="14" height="14">
        <use href="./img/sprite.svg#icon-Vector-2"></use>
      </svg>
      <span class="button-text">Order</span>
    </div>
  </button>
</section>
