<section class="section we-will">
  <div class="container">
    <div class="we-will-container">
      <div class="we-will-box">
        <h1 class="we-will-title">Fresh Harvest Box has got you covered</h1>
        <p class="we-will-text">
          Our boxes are packed with delicious, nutritious vegetables, perfect
          for anyone looking to eat healthier or support local farmers. Order
          your box today and start enjoying the best that nature has to offer!
        </p>
        <form class="we-will-form">
          <input
            class="we-will-input"
            type="tel"
            id="user-phone"
            required
            placeholder="+38()"
            pattern="[0-9]{12}"
            title="380501112233"
            maxlength="12"
            minlength="12"
          />
          <button class="we-will-btn" type="submit">Recall</button>
        </form>
      </div>
      <div class="we-will-image-box">
        <picture>
          <source
            media="(min-width:1280px)"
            srcset="
              ./img/girl-images/desktop-girl_optimized.png,
              ./img/girl-images/desktop-girl@2x_optimized.png
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/girl-images/tablet-girl_optimized.png,
              ./img/girl-images/tablet-girl@2x_optimized.png
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/girl-images/mobile-girl_optimized.png,
              ./img/girl-images/mobile-girl@2x_optimized.png
            "
          />
          <img
            class="we-will-image"
            src="./img/girl-images/desktop-girl_optimized.png"
            alt="girl"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
